<c-card>
    <c-card-header>
        <h5 cCardTitle>Configurations</h5>
    </c-card-header>
    <c-card-body>
        <button cButton color="primary" routerLink="/configs-editor">Create New Configuration</button>
        <table cTable hover>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Schedule</th>
                    <th scope="col">Last Used</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary" routerLink="/configs-editor">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary" routerLink="/configs-editor">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary" routerLink="/configs-editor">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary" routerLink="/configs-editor">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary" routerLink="/configs-editor">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary" routerLink="/configs-editor">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>
    </c-card-body>
</c-card>