<c-card>
    <c-card-header>
        <h5 cCardTitle>Logs</h5>
    </c-card-header>
    <c-card-body>
        <table cTable hover>
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Config</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr cTableColor="success">
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Success</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr cTableColor="success">
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Success</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr cTableColor="danger">
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Failure</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr cTableColor="success">
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Success</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr cTableColor="danger">
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Failure</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr cTableColor="success">
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Success</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>
    </c-card-body>
</c-card>