<c-container>
    <c-row>
        <c-col>
            <c-card class="mb-4">
                <c-card-header>
                    <h4 cCardTitle>Configuration Name: demo</h4>
                </c-card-header>
            </c-card>
            <c-card class="mb-4">
                <c-card-header>
                    <h5 cCardTitle>Paths</h5>
                </c-card-header>
                <c-card-body>
                    <c-input-group class="mb-3">
                        <input aria-label="Source" cFormControl placeholder="Source" />
                        <button cButton color="primary">Add</button>
                    </c-input-group>
                    <c-input-group class="mb-3">
                        <input aria-label="Destination" cFormControl placeholder="Destination" />
                        <button cButton color="primary">Add</button>
                    </c-input-group>
                    <button (click)="Toggle()" cButton>Add an FTP Destination</button>
                </c-card-body>
            </c-card>
            <c-card class="mb-4">
                <c-card-header>
                    <h5 cCardTitle>Configured Paths</h5>
                </c-card-header>
                <c-card-body>
                    <table cTable hover>
                        <thead>
                            <tr>
                                <th scope="col">Sources</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>C:\Program Files</td>
                                <td class="buttons">
                                    <c-button-group aria-label="Basic example" role="group">
                                        <button cButton color="danger">Remove</button>
                                        <button cButton color="primary">Edit</button>
                                    </c-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td>C:\</td>
                                <td>
                                    <c-button-group aria-label="Basic example" role="group">
                                        <button cButton color="danger">Remove</button>
                                        <button cButton color="primary">Edit</button>
                                    </c-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td>C:\</td>
                                <td>
                                    <c-button-group aria-label="Basic example" role="group">
                                        <button cButton color="danger">Remove</button>
                                        <button cButton color="primary">Edit</button>
                                    </c-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td>C:\</td>
                                <td>
                                    <c-button-group aria-label="Basic example" role="group">
                                        <button cButton color="danger">Remove</button>
                                        <button cButton color="primary">Edit</button>
                                    </c-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td>C:\</td>
                                <td>
                                    <c-button-group aria-label="Basic example" role="group">
                                        <button cButton color="danger">Remove</button>
                                        <button cButton color="primary">Edit</button>
                                    </c-button-group>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cTable hover>
                        <thead>
                            <tr>
                                <th scope="col">Destinations</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>D:\</td>
                                <td>
                                    <c-button-group aria-label="Basic example" role="group">
                                        <button cButton color="danger">Remove</button>
                                        <button cButton color="primary">Edit</button>
                                    </c-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td>ftp://admin:password@apple.com:5110//A:\Backups</td>
                                <td>
                                    <c-button-group aria-label="Basic example" role="group">
                                        <button cButton color="danger">Remove</button>
                                        <button cButton color="primary">Edit</button>
                                    </c-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td>D:\</td>
                                <td>
                                    <c-button-group aria-label="Basic example" role="group">
                                        <button cButton color="danger">Remove</button>
                                        <button cButton color="primary">Edit</button>
                                    </c-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td>ftp://admin:password@google.com//G:\Backups</td>
                                <td>
                                    <c-button-group aria-label="Basic example" role="group">
                                        <button cButton color="danger">Remove</button>
                                        <button cButton color="primary">Edit</button>
                                    </c-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td>D:\</td>
                                <td>
                                    <c-button-group aria-label="Basic example" role="group">
                                        <button cButton color="danger">Remove</button>
                                        <button cButton color="primary">Edit</button>
                                    </c-button-group>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </c-card-body>
            </c-card>
        </c-col>
        <c-col>
            <c-card class="mb-4">
                <c-card-header>
                    <h5 cCardTitle>Schedule</h5>
                </c-card-header>
                <c-card-body>
                    <div class="input-group mb-3">
                        <c-input-group>
                            <span cInputGroupText>Cron string</span>
                            <input cFormControl />
                            <input cFormControl />
                            <input cFormControl />
                            <input cFormControl />
                            <input cFormControl />
                            <input cFormControl />
                        </c-input-group>
                    </div>
                    <div class="input-group mb-3">
                        <button cButton color="primary">Add To Presets</button>

                        <c-dropdown>
                            <button cButton cDropdownToggle color="primary">
                                Presets
                            </button>

                            <ul cDropdownMenu>
                                <li><a routerLink cDropdownItem>M - F</a></li>
                                <li><a routerLink cDropdownItem>Every Monday</a></li>
                                <li><a routerLink cDropdownItem>Friday 13th of 2023</a></li>
                            </ul>
                        </c-dropdown>
                    </div>
                </c-card-body>
            </c-card>
            <c-card class="mb-4">
                <c-card-header>
                    <h5 cCardTitle>Other</h5>
                </c-card-header>
                <c-card-body>
                    <c-input-group class="mb-3">
                        <span cInputGroupText id="basic-addon1">Destination has maximum of</span>
                        <input aria-describedby="basic-addon1" aria-label="Split" cFormControl placeholder="3" />
                        <span cInputGroupText id="basic-addon1">backups</span>
                    </c-input-group>
                    <c-input-group class="mb-3">
                        <span cInputGroupText id="basic-addon1">Can rollback up to</span>
                        <input aria-describedby="basic-addon1" aria-label="Split" cFormControl placeholder="4" />
                        <span cInputGroupText id="basic-addon1">times</span>
                    </c-input-group>
                    <c-input-group class="input-group mb-3">
                        <span cInputGroupText>
                            <c-form-check>
                                <input cFormCheckInput id="checkOne" type="checkbox" />
                            </c-form-check>
                        </span>
                        <span cInputGroupText>Backup as a ZIP</span>
                    </c-input-group>
                    <c-dropdown variant="btn-group">
                        <button color="primary" cButton cDropdownToggle>
                            Backup Types
                        </button>
                        <ul cDropdownMenu>
                            <li><button routerLink cDropdownItem>Full</button></li>
                            <li><button routerLink cDropdownItem>Differencial</button></li>
                            <li><button routerLink cDropdownItem>Incremental</button></li>
                        </ul>
                    </c-dropdown>
                </c-card-body>
            </c-card>
            <button cButton color="primary" routerLink="/configs">Back</button>
        </c-col>
    </c-row>
</c-container>
<c-modal id="FTPModal" [visible]="visible" (visibleChange)="handleChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Add an FTP Destination</h5>
        <button (click)="Toggle()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Username</span>
            <input aria-describedby="basic-addon1" aria-label="Username" cFormControl placeholder="Admin" />
        </c-input-group>
        <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Password</span>
            <input aria-describedby="basic-addon1" aria-label="Username" cFormControl placeholder="*******" />
        </c-input-group>
        <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Server</span>
            <input aria-describedby="basic-addon1" aria-label="Username" cFormControl placeholder="apple.com" />
        </c-input-group>
        <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Port</span>
            <input aria-describedby="basic-addon1" aria-label="Username" cFormControl placeholder="default:21" />
        </c-input-group>
        <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Destination</span>
            <input aria-describedby="basic-addon1" aria-label="Username" cFormControl placeholder="X:\Backups" />
        </c-input-group>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="Toggle()" cButton color="secondary">
            Close
        </button>
        <button cButton color="primary">Add</button>
    </c-modal-footer>
</c-modal>